



#demo {
    color: aliceblue;
    display: inline-block;
    margin-right: 20px;
    color: red;
}
@media (max-width:800px) {
    #demo{
    display: none;

    }
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
}
@media (max-width:800px) {
    header {
        flex-direction: row;
        text-align: center;
        justify-content: center;
        
        
        

    }
    
    h1 {
        margin-bottom: 10px;
        display: none;
    }
    
}


.cart-button {
    background-color:#12c9ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


.cart-button:hover{
    background-color: aqua;
}

@media (min-width:1450px) {
    .cart-button{
        font-size: 40px;
        
    }
    
}


#product-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width:1450px) {
    #product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
    
}


@media (max-width:800px) {
    #product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:430px) {
    #product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.product {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: auto;
}

.product img {
    width: auto;
    height: auto;
}

.product button {
    background-color: green;
    color: white;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.product button:hover{
    background-color: darkgreen;
}
