body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
    margin: 0;
}

.login-container {
    background-color: white;
    height: 310px;
    width: 300px;
    padding: 20px;
    border-radius:0px  10px 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
  
}

@media (max-width:700px) {
    .login-container{
    border-radius:10px;
    margin-left: 50px;
    
}   
}

.login-container h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 10px;
}








.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  
  
  .container img {
    width: 350px;
    height: 350px;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  @media (max-width:700px) {
    .container img{
        display: none;
    }
    
  }